@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #6b11cbef 0%, #2574fceb 100%);
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 30rem;
    padding: 1rem;
    background-image: linear-gradient(to right, #6b11cbef 0%, #2574fceb 100%);
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.3), 5px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.container-img-persona {
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 1em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-texto {
    margin-top: 1rem;
    text-align: center;
    line-height: 1.8em;
    color: #fff;
    margin-bottom: 1em;
}

.container-texto h1 {
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 0.3em;
}

.container-texto p {
    font-weight: lighter;
    font-size: 0.8em;
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.form {
    width: 83%;  
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 1.1em;
}

.form label {
    display: inline-block;
    font-weight: 450;
    font-size: 0.7em;
}

.form input {
    width: 100%;
    padding: 0.8em;
    border: none;
    border-radius: 5px;
}

.form input:focus {
    outline: none;
}

.form-datos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}

.form-datos2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}

.genero {
    display: flex;
    flex-direction: column;
}

.genero label {
    margin-bottom: 0.5em;
}

.genero select {
    border-radius: 8px;
    height: 2.35rem;
    border: none;
    width: 100%;
    padding-left: 0.5em;
}

.genero select:focus {
    outline: none;
}

.form-contraseña {
    margin-bottom: 1em;
}

.btn-register {
    padding: 0.4em;
    border: none;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 1.05em;
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    margin-bottom: 0.5em;
    transition: background-image 0.5s ease;
}

.btn-register:hover {
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    transform: scale(1.015);
    transition: 0.5s ease;
    cursor: pointer;
}

.volver {
    display: flex;
    justify-content: flex-end;
    margin-right: 3em;
}

.volver a {
    color: rgba(14, 14, 14, 0.875);
    font-weight: 500;
    text-decoration: none;
}

.volver a:hover {
    color: black;
    text-decoration-line: underline;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
margin: 0;
}

@media (min-width: 480px) {

.container {
    max-width: 40rem;
    font-weight: 500;
    font-size: 1.5em;
}
.genero {
    margin-top: 0.15em;
}
.genero select {
    width: 15rem;
}

.form input {
    padding: 1.2em;
}
}

@media (max-width: 320px) {
    /* Reglas de estilo para pantallas de 320px o menos */
    .form-datos {
        display: block;
    }
    
    .form-datos2 {
        display: block;
    }
}

